Btest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FIOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="traking">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="bid" type="MyBidxs" />
              <xs:element name="uid" type="xs:unsignedByte" />
              <xs:element name="tid" type="MyTrack" />
              <xs:element name="ExpDate" type="xs:string" />
              <xs:element name="trainNo." type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="MyBid">
<xs:restriction base="xs:unsignedByte">
<xs:minInclusive value="03"></xs:minInclusive>
<xs:maxInclusive value="03"></xs:maxInclusive>
</xs:restriction>
</xs:simpleType>
  <xs:simpleType name="MyTrack">
<xs:restriction base="xs:integer">
<xs:minInclusive value="10"></xs:minInclusive>
<xs:maxInclusive value="10"></xs:maxInclusive>
</xs:restriction>
</xs:simpleType>
</xs:schema>